<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextEditor</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<style>
    .texteditor p label{
        font-weight: 800;
        font-size: 18px;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h1 style="color: aliceblue">TextEditor</h1>
        </nav>
    <form action="http://127.0.0.1:8000/texteditor/" method="POST">
    <div class="container-fluid">

        <div class="row">
            <div>
                <div class="texteditor">
                    {% csrf_token %}
                        {{form.media}}
                        {{form.as_p}}
                </div>
                <input type="submit">
                <a href="http://127.0.0.1:8000/texteditor/download"><strong><i>Download</i></strong></a>
            </div>
        </div>
    </div>
    </form>
</body>
</html>
